.App {
  text-align: center;
  background-color: #242425;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.App::before {
  content: '';
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background-image: url(../public/grainybackground2.png);
  background-size: 20vh 40vw;
  opacity: 0.2;
  pointer-events: none;
  z-index: 2;
  /* animation: bg-grains infinite .5s; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.logo {
  height: 20px;
  position: fixed;
  top: -65px;
  left: 10px;
  z-index: -1;
}
.actualLogo {
  height: 250px;
}
button:hover {
  cursor: pointer;
}

.homePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
  width: 100vw;
  color: black;
  z-index: -1;
}
.bodyContent {
  /* background-color: rgb(154, 188, 220); */
  /* height: 100vh;
  margin-top: 75px; */
  overflow: scroll;
  scroll-behavior: smooth;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  align-items: center;
}
.intro {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Outfit", sans-serif;
  height: 100vh
}
.circle {
  background-color: rgb(235, 232, 232);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  animation: moving-circle infinite 15s;
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(132, 131, 131, 0.6), inset 0 3px 4px -1px rgba(132, 131, 131, 0.2), inset 0 0 5px 1px rgba(132, 131, 131, 0.8), inset 0 20px 30px 0 rgba(132, 131, 131, 0.2);

}
.circle1 {
  width: 18rem;
  height: 18rem;
  top: -5rem;
  left: 3rem;
  animation: moving-circle1 infinite 15s
}
.circle2 {
  width: 15rem;
  height: 15rem;
  top: 5%;
  right: -2rem;
  animation: moving-circle2 infinite 15s
}
.circle3 {
  width: 4rem;
  height: 4rem;
  bottom: 4rem;
  right: 15%;
  animation: moving-circle3 infinite 15s
}
.circle4 {
  width: 8rem;
  height: 8rem;
  bottom: 4rem;
  left: 2%;
  animation: moving-circle4 infinite 15s
}
.circle5 {
  width: 12rem;
  height: 12rem;
  bottom: 2rem;
  right: 50%;
  animation: moving-circle5 infinite 15s
}

.floating-button {
  animation: moving-technology 10s infinite ease-in-out alternate;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  /* padding: 4px 10px 4px 10px; */
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  transition: font-size 0.8s, margin-left 0.8s, margin-right 0.8s, box-shadow 0.8s, height 0.8s, width 0.8s;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* box-shadow: 6px 6px 12px rgb(75, 75, 75),
  -6px -6px 12px rgb(174, 173, 173); */
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(132, 131, 131, 0.6), inset 0 3px 4px -1px rgba(132, 131, 131, 0.2), inset 0 0 5px 1px rgba(132, 131, 131, 0.8), inset 0 20px 30px 0 rgba(132, 131, 131, 0.2);
  /* background: #cccccc; */
  background: rgb(132, 131, 131);
  text-shadow: 1px 1px 2px rgb(94, 93, 93);
  /* border: 1px solid rgb(132, 131, 131); */
  color: rgb(219, 219, 219);

}
.floating-button:hover {
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px;
  height: 160px;
  width: 160px;
  /* box-shadow: rgba(220, 220, 220, 0.35) 0px 5px 15px; */
  box-shadow: inset 4px 4px 12px rgb(174, 173, 173),
  inset -4px -4px 12px rgb(75, 75, 75);
}
.projects {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 35px;
  min-height: 100vh;
}

.projectNames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectTitle {
  letter-spacing: 3px;
  font-size: 20px;
}
.projectContent{
  border-top: solid;
}
.projectNames button {
  border: none;
  border-top: solid;
  width: 60vw;
  min-height: 10vh;
  background-color: transparent;
  color: rgb(206, 203, 203);
  font-size: 20px;
  padding: 0.25em 1em;
  border-radius: 15px;
  background: #242425;
  border: 1px solid #242425;
  box-shadow: 6px 6px 12px #000000,
              -6px -6px 12px #323232;
  margin-bottom: 10px;
  /* text-shadow: 1px 1px 2px rgb(80, 79, 79); */
  /* transition: font-size .6s, height .6s, box-shadow .6s; */
  transition: all .6s;
}

 .projectNames button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #000000,
              inset -4px -4px 12px #3c3c3c;
 }
.projectNames button:hover {
  box-shadow: inset 4px 4px 12px #000000,
              inset -4px -4px 12px #3c3c3c;
}
.projectDescriptions{
  font-size: 20px ;
}
a{
  color: rgb(171, 167, 167);
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: all .4s;
  padding: 2px 6px 2px 6px;
  animation: ease-in-out;
}
a:hover{
  /* text-decoration: underline; */
  border: solid;
  border-radius: 4px;
  color: white
}
.skills {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 35px;
  height: 100vh;
  padding-top: 50px;
  background-color: rgb(132, 131, 131);
  min-width: 800px;
  box-shadow: inset 4px 4px 12px rgb(187, 186, 186),
  inset -4px -4px 12px rgb(50, 49, 49);
  border-radius: 10px;
  position: relative;
}
.contact {
  font-size: 35px;
  height: 80vh;
  position: relative;
}
.socials a  {
  color: #090909;
  padding: 0.5em 3em;
  font-size: 20px;
  border-radius: 0.5em;
  background: #ffffff;
  border: 1px solid #cccccc;
  transition: all .3s;
  margin-left: 4px;
  margin-right: 4px;
  box-shadow: 4px 4px 10px #141414,
              -4px 4px 10px  #000000;
 }
 
 .socials a:hover {
  color: rgb(206, 205, 205);
  background: #292929;
  border: solid #292929;
  box-shadow: 4px 4px 10px #141414,
              -4px 4px 10px  #000000;
 }




@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

.fadeIn {
  z-index: 10;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moving-circle {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
@keyframes moving-circle1 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-25%, 10%) }
  20% { transform:translate(15%, 5%) }
  30% { transform:translate(10%, -5%) }
  40% { transform:translate(25%, -25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(5%, 15%) }
  80% { transform:translate(1%, 35%) }
  90% { transform:translate(-5%, 10%) }
}
@keyframes moving-circle2 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform: translate(-20%, -45%); }
  20% { transform: translate(45%, -10%); }
  30% { transform: translate(-15%, 35%); }
  40% { transform: translate(-45%, 40%); }
  50% { transform: translate(35%, -50%); }
  60% { transform: translate(-10%, 15%); }
  70% { transform: translate(5%, 20%); }
  80% { transform: translate(-25%, -20%); }
  90% { transform: translate(25%, 45%); }
}
@keyframes moving-circle3 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform: translate(-5%, 35%); }
  20% { transform: translate(-15%, -30%); }
  30% { transform: translate(20%, -40%); }
  40% { transform: translate(-30%, 40%); }
  50% { transform: translate(10%, -15%); }
  60% { transform: translate(5%, 20%); }
  70% { transform: translate(-35%, -10%); }
  80% { transform: translate(30%, -25%); }
  90% { transform: translate(25%, 30%); }
}
@keyframes moving-circle4 {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-25%, 40%); }
  20% { transform: translate(10%, -15%); }
  30% { transform: translate(35%, -20%); }
  40% { transform: translate(-30%, 40%); }
  50% { transform: translate(10%, -15%); }
  60% { transform: translate(35%, -20%); }
  70% { transform: translate(-25%, 40%); }
  80% { transform: translate(10%, -15%); }
  90% { transform: translate(-25%, 40%); }
}
@keyframes moving-circle5 {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-35%, -20%); }
  20% { transform: translate(40%, -45%); }
  30% { transform: translate(-20%, -50%); }
  40% { transform: translate(-15%, 10%); }
  50% { transform: translate(-30%, 40%); }
  60% { transform: translate(15%, -25%); }
  70% { transform: translate(20%, 15%); }
  80% { transform: translate(-50%, 30%); }
  90% { transform: translate(40%, -40%); }
}

@keyframes moving-technology {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, 5%); }
  30% { transform: translate(7%, -25%); }
  40% { transform: translate(-5%, 25%); }
  50% { transform: translate(-15%, 10%); }
  60% { transform: translate(15%, 0%); }
  70% { transform: translate(0%, 15%); }
  80% { transform: translate(3%, 35%); }
  90% { transform: translate(-10%, 10%); }
}

@keyframes bg-grains {
  /* 0% { transform: translate(0,0) }
  10% { transform: translate(-1%,-1%) }
  20% { transform: translate(-2%,1%) }
  30% { transform: translate(1%,-2%) }
  40% { transform: translate(-1%,2.5%) }
  50% { transform: translate(-2%,1%) }
  60% { transform: translate(2.5%,0) }
  70% { transform: translate(0,2%) }
  80% { transform: translate(-2.5%,0) }
  90% { transform: translate(2%,1%) }
  100% { transform: translate(1%,0) } */
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
