/* @viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}


@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}


@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

.App {
  text-align: center;
  background-color: #242425;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.App::before {
  content: '';
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background-image: url(../public/grainybackground2.png);
  background-size: 20vh 40vw;
  opacity: 0.2;
  pointer-events: none;
  z-index: 2;
}


.logo {
  height: 20px;
  position: fixed;
  top: -65px;
  left: 10px;
  z-index: -1;
}
.actualLogo {
  height: 250px;
}
button:hover {
  cursor: pointer;
}

.homePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
  width: 100vw;
  color: black;
  z-index: -1;
}
.bodyContent {

  overflow: scroll;
  scroll-behavior: smooth;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  align-items: center;
}
.intro {
  font-size: 35px;
  text-align: center;
  padding-top: 80px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: "Outfit", sans-serif;
  height: 100vh
}
.circle {
  background-color: rgb(235, 232, 232);
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  position: absolute;
  animation: moving-circle infinite 15s;
  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(132, 131, 131, 0.6), inset 0 3px 4px -1px rgba(132, 131, 131, 0.2), inset 0 0 5px 1px rgba(132, 131, 131, 0.8), inset 0 20px 30px 0 rgba(132, 131, 131, 0.2);
}

.circle1 {
  width: 14rem;
  height: 14rem;
  top: 0rem;
  left: 3rem;
  animation: moving-circle1 infinite 15s
}
.circle2 {
  width: 15rem;
  height: 15rem;
  top: 5%;
  right: -2rem;
  animation: moving-circle2 infinite 15s
}
.circle3 {
  width: 4rem;
  height: 4rem;
  bottom: 4rem;
  right: 15%;
  animation: moving-circle3 infinite 15s
}
.circle4 {
  width: 8rem;
  height: 8rem;
  bottom: 4rem;
  left: 2%;
  animation: moving-circle4 infinite 15s
}
.circle5 {
  width: 12rem;
  height: 12rem;
  bottom: 2rem;
  right: 50%;
  animation: moving-circle5 infinite 15s
}
.circle5:hover {
  transform: scale(1.5);
}

.floating-button {
  animation: moving-technology 10s infinite ease-in-out alternate;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  transition: font-size 0.8s, margin-left 0.8s, margin-right 0.8s, box-shadow 0.8s, height 0.8s, width 0.8s;

  box-shadow: 0 15px 25px -4px rgba(0, 0, 0, 0.5), inset 0 -3px 4px -1px rgba(0, 0, 0, 0.2), 0 -10px 15px -1px rgba(132, 131, 131, 0.6), inset 0 3px 4px -1px rgba(132, 131, 131, 0.2), inset 0 0 5px 1px rgba(132, 131, 131, 0.8), inset 0 20px 30px 0 rgba(132, 131, 131, 0.2);

  background: rgb(132, 131, 131);
  text-shadow: 1px 1px 2px rgb(94, 93, 93);

  color: rgb(219, 219, 219);

}
.floating-button:hover {
  font-size: 20px;
  margin-left: 4px;
  margin-right: 4px;
  height: 160px;
  width: 160px;
  box-shadow: inset 4px 4px 12px rgb(174, 173, 173),
  inset -4px -4px 12px rgb(75, 75, 75);
}
.projects {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 35px;
  min-height: 100vh;
}

.projectNames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectTitle {
  letter-spacing: 3px;
  font-size: 20px;
}
.projectContent{
  border-top: solid;
}
.projectNames button {
  border: none;
  border-top: solid;
  width: 60vw;
  min-height: 10vh;
  background-color: transparent;
  color: rgb(206, 203, 203);
  font-size: 20px;
  padding: 0.25em 1em;
  border-radius: 15px;
  background: #242425;
  border: 1px solid #242425;
  box-shadow: 6px 6px 12px #000000,
              -6px -6px 12px #323232;
  margin-bottom: 10px;

  transition: all .6s;
}

 .projectNames button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #000000,
              inset -4px -4px 12px #3c3c3c;
 }
.projectNames button:hover {
  box-shadow: inset 4px 4px 12px #000000,
              inset -4px -4px 12px #3c3c3c;
}
.projectDescriptions{
  font-size: 20px ;
}
a{
  color: rgb(171, 167, 167);
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: all .4s;
  padding: 2px 6px 2px 6px;
  animation: ease-in-out;
}
a:hover{
  border: solid;
  border-radius: 4px;
  color: white
}
.skills {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 35px;
  height: 100vh;
  padding-top: 50px;
  background-color: rgb(132, 131, 131);
  min-width: 800px;
  box-shadow: inset 4px 4px 12px rgb(187, 186, 186),
  inset -4px -4px 12px rgb(50, 49, 49);
  border-radius: 10px;
  position: relative;
}
.aboutme {
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 35px;
}
.aboutme p {
  font-size: 28px;
  padding: 10px 20px
}
.imageDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}
.imageDiv img {
  width: 25vw;
  box-shadow: 6px 6px 12px #313131,
  -6px -6px 12px #404040;
  transition: all .5s;
}
.imageDiv img:hover {
  box-shadow: 6px 6px 12px #4b4b4b,
  -6px -6px 12px #868585;
}
.contact {
  font-size: 35px;
  height: 80vh;
  position: relative;
  margin-top: 100px;
}
.contact p {
  font-size: 28px;
}
.socials a  {
  color: #090909;
  padding: 0.5em 3em;
  font-size: 20px;
  border-radius: 0.5em;
  background: #ffffff;
  border: 1px solid #cccccc;
  transition: all .3s;
  margin-left: 4px;
  margin-right: 4px;
  box-shadow: 4px 4px 10px #141414,
              -4px 4px 10px  #000000;
 }
 
 .socials a:hover {
  color: rgb(206, 205, 205);
  background: #292929;
  border: solid #292929;
  box-shadow: 4px 4px 10px #141414,
              -4px 4px 10px  #000000;
 }




@keyframes animate {
  10% {
    transform: scale(1, 0.002);
  }
  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }
  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }
  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}

.fadeIn {
  z-index: 10;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moving-circle {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}
@keyframes moving-circle1 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-25%, 10%) }
  20% { transform:translate(15%, 5%) }
  30% { transform:translate(10%, -5%) }
  40% { transform:translate(25%, -25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(5%, 15%) }
  80% { transform:translate(1%, 35%) }
  90% { transform:translate(-5%, 10%) }
}
@keyframes moving-circle2 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform: translate(-20%, -45%); }
  20% { transform: translate(45%, -10%); }
  30% { transform: translate(-15%, 35%); }
  40% { transform: translate(-45%, 40%); }
  50% { transform: translate(35%, -50%); }
  60% { transform: translate(-10%, 15%); }
  70% { transform: translate(5%, 20%); }
  80% { transform: translate(-25%, -20%); }
  90% { transform: translate(25%, 45%); }
}
@keyframes moving-circle3 {
  0%, 100% { transform:translate(0, 0) }
  10% { transform: translate(-5%, 35%); }
  20% { transform: translate(-15%, -30%); }
  30% { transform: translate(20%, -40%); }
  40% { transform: translate(-30%, 40%); }
  50% { transform: translate(10%, -15%); }
  60% { transform: translate(5%, 20%); }
  70% { transform: translate(-35%, -10%); }
  80% { transform: translate(30%, -25%); }
  90% { transform: translate(25%, 30%); }
}
@keyframes moving-circle4 {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-25%, 40%); }
  20% { transform: translate(10%, -15%); }
  30% { transform: translate(35%, -20%); }
  40% { transform: translate(-30%, 40%); }
  50% { transform: translate(10%, -15%); }
  60% { transform: translate(35%, -20%); }
  70% { transform: translate(-25%, 40%); }
  80% { transform: translate(10%, -15%); }
  90% { transform: translate(-25%, 40%); }
}
@keyframes moving-circle5 {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-35%, -20%); }
  20% { transform: translate(40%, -45%); }
  30% { transform: translate(-20%, -50%); }
  40% { transform: translate(-15%, 10%); }
  50% { transform: translate(-30%, 40%); }
  60% { transform: translate(15%, -25%); }
  70% { transform: translate(20%, 15%); }
  80% { transform: translate(-50%, 30%); }
  90% { transform: translate(40%, -40%); }
}

@keyframes moving-technology {
  0%, 100% { transform: translate(0, 0); }
  10% { transform: translate(-5%, -10%); }
  20% { transform: translate(-15%, 5%); }
  30% { transform: translate(7%, -25%); }
  40% { transform: translate(-5%, 25%); }
  50% { transform: translate(-15%, 10%); }
  60% { transform: translate(15%, 0%); }
  70% { transform: translate(0%, 15%); }
  80% { transform: translate(3%, 35%); }
  90% { transform: translate(-10%, 10%); }
}

@keyframes bg-grains {
  0% { transform: translate(0,0) }
  10% { transform: translate(-5%,-5%) }
  20% { transform: translate(-10%,5%) }
  30% { transform: translate(5%,-10%) }
  40% { transform: translate(-5%,15%) }
  50% { transform: translate(-10%,5%) }
  60% { transform: translate(15%,0) }
  70% { transform: translate(0,10%) }
  80% { transform: translate(-15%,0) }
  90% { transform: translate(10%,5%) }
  100% { transform: translate(5%,0) }
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
} */


.App {
  text-align: center;
  /* background-color: pink; */
  display: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  width: 100vw;
  overflow: scroll;
  scroll-behavior: smooth;
  /* background-image: url("./assets/bookshelf.jpeg"); */
}
.userNote{
  position: absolute;
  bottom: 10px;
  left: 10px
}
.userNote p {
  color: white;
  font-size: 12px;
}
.stage {
  position: relative;
  width: 400px; 
  height: 500px; 
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  perspective: 1600px;
}
.coverCover{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  right: 39px;
  top: -17.25px;
}
/* .coverCover::after {
  content: "";
  position: absolute;
  bottom: -40px;
  background: rgb(43, 42, 42);
  width: 100%;
  height:6px;
  border-radius:50%;
  filter: blur(4px);
  right: -40px;
  box-shadow: 0px 20px 15px -20px rgba(0,0,0,0.4);
} */

/* .coverCover {
    font-family: acumin-pro, sans-serif;
    transform-style: preserve-3d;
    transition: transform 0.5s, transform-origin 0.5s;
    opacity: 1;
    right: 39px;
    top: -17.25px;
} */

/* .coverCover{
  position: absolute;
  top: 50%;
  bottom: 50%;
} */


.coverCover figure {
  display: block; 
  position: absolute;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
}

.coverCover {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  /* -webkit-transform: translateZ(50px); */
  }

/* .coverCover figure { -webkit-transform-origin: 50% 50% 0; } */

.front {
  -webkit-transform: translateZ(10px);
  -moz-transform: translateZ(10px);
  transform: translateZ(10px);
  -ms-transform: translateZ(10px);
  -o-transform: translateZ(10px);

 }
.back {
  -webkit-transform: rotateY(180deg) translateZ(10px);
  -moz-transform: rotateY(180deg) translateZ(10px);
  transform: rotateY(180deg) translateZ(10px);
  -ms-transform: rotateY(180deg) translateZ(10px);
  -o-transform: rotateY(180deg) translateZ(10px);
}
/* 
-webkit-transform: 
-moz-transform: 
transform:  
*/

.top { 
  -webkit-transform: rotateX(90deg) translateZ(4px);
  -moz-transform: rotateX(90deg) translateZ(4px);
  transform: rotateX(90deg) translateZ(4px);
  -ms-transform: rotateX(90deg) translateZ(4px);
  -o-transform: rotateX(90deg) translateZ(4px);
}
.bottom { 
  -webkit-transform: rotateX(-90deg) translateZ(480px);
  -moz-transform: rotateX(-90deg) translateZ(480px);
  transform: rotateX(-90deg) translateZ(480px);
  -ms-transform: rotateX(-90deg) translateZ(480px);
  -o-transform: rotateX(-90deg) translateZ(480px);
}
.left { 
  -webkit-transform: rotateY(-90deg) translateZ(10px) ;
  -moz-transform: rotateY(-90deg) translateZ(10px) ;
  transform: rotateY(-90deg) translateZ(10px) ;
  -ms-transform: rotateY(-90deg) translateZ(10px);
  -o-transform: rotateY(-90deg) translateZ(10px);
 }
.right { 
  -webkit-transform: rotateY(90deg) translateZ(385px) translateY(1%) ;
  -moz-transform: rotateY(90deg) translateZ(385px) translateY(1%) ;
  transform: rotateY(90deg) translateZ(385px) translateY(1%) ;
  -ms-transform: rotateY(90deg) translateZ(385px) translateY(1%);
  -o-transform: rotateY(90deg) translateZ(385px) translateY(1%);
}


.front {
  width: 400px; 
  height: 500px;
  background-color: rgb(224, 223, 223);
  box-shadow: 0px 20px 15px -20px rgba(0,0,0,0.4);
  background: linear-gradient(45deg, #e9e8e8 0%, #f3f2f2 100%);
  border-radius: 0px 2px 2px 0px;
  position: relative;
}
.front{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  color: rgb(168, 224, 234);
  box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #e9e8e8 0%, #f3f2f2 100%);
}
.front div{
  /* width: 90%; */
  z-index: 1;
  color: white;

}
.front .coverBottom{
  position: absolute;
  font-size: 10px;
  bottom: 10px;
}
.front:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 500px;
  background-image: url('./assets/milad_front.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.front:after{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 15px;
  width: 4px;
  background: rgba(114, 114, 114, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.back {
  width: 400px; 
  height: 500px;
  background-color: rgb(106, 105, 105);
  box-shadow: 0px 20px 15px -20px rgba(0,0,0,0.4);
  background: linear-gradient(90deg,  rgb(203, 201, 205) 0%, #aca8ad 100%);
  border-radius: 2px 0px 0px 2px;
}
.back:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/milad_back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.back img {
  height: 40px;
  width: 40px;
  z-index: 3;
  position: absolute;
  bottom: 20px;
  right: 30px;
  filter: grayscale(90%);
}
.back p {
  z-index: 3;
  position: absolute;
  bottom: 20px;
  left: 10%;
  color: #d3d3d3;
  font-size: 10px;
}
/* .bottom {
  width: 400px; 
  height: 20px;
  background-color: rgb(224, 223, 223);
  
} */
/* .top {
  width: 400px; 
  height: 20px;
  background-color: rgb(224, 223, 223);
} */
.left {
  width: 20px; 
  height: 500px;
  background-color: rgb(224, 223, 223);
  background: linear-gradient(45deg,  #eceaed 0%, #f5eff6 100%);
}
.left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/milad_mid.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.right {
  width: 18px; 
  height: 490px;
  background-color: rgb(70, 68, 68);
  position: relative;
  display: flex;
  flex-direction: column;
}
.paperLine {
  position: absolute;
  top: 0px;
  left: 2px;
  width: .05px; 
  height: 100%; 
  background-color: rgb(94, 94, 94); 
}
.paperLine1 {
  position: absolute;
  top: 0px;
  left: 5px;
  width: .05px; 
  height: 100%; 
  background-color: white; 
}
.paperLine2 {
  position: absolute;
  top: 0px;
  left: 8px;
  width: .05px; 
  height: 100%; 
  background-color: white; 
}
.paperLine3 {
  position: absolute;
  top: 0px;
  left: 11px;
  width: .05px; 
  height: 100%; 
  background-color: white; 
}
.paperLine4 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: .05px; 
  height: 100%; 
  background-color: white; 
}
.paperLine5 {
  position: absolute;
  top: 0px;
  left: 17px;
  width: .05px; 
  height: 100%; 
  background-color: white; 
}

.coverCover {
  animation: rotate 8s infinite;
  /* transform: rotate3d(0, 1, 0, 45deg);  */
}

@keyframes rotate {
  0% { -webkit-transform: rotateY(0); }
  100% { -webkit-transform: rotateY(360deg); }
}

input[type="checkbox"] {
  display:none
}

.book {
  width: 400px; 
  height: 500px;
  position: relative;
  transition-duration: 1s;
  perspective: 1600px;
  -webkit-transform-style: preserve-3d ;
  -moz-transform-style: preserve-3d ;
  transform-style: preserve-3d ;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  
}
/* .book {
  transform-style: preserve-3d;
  animation: rotate 10s infinite
} */
.cover,
.backCover {
  background-image: linear-gradient(to right, #d8d5d5, #f0f0f0, #e4e3e3);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px rgb(187, 187, 187);
  background-color: white;
}

.cover {
  position: absolute;
  z-index: 5;
  transform-origin: center left;
  -webkit-transform-origin: center left;
  -moz-transform-origin: center left;
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -ms-transtion: -ms-transform 1s;
  -o-transtion: -o-transform 1s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
}

.coverNext, .coverPrev {
  position: absolute;
  cursor: pointer;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
/* .coverFrontPage:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/simon_lee.JPEG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
} */
.coverFrontPage:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 500px;
  background-image: url('./assets/milad_front.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.coverImage{
  height: 100%;
  width: 100%;
  position: absolute;
  filter: grayscale(100%);
  z-index: 1;
}
.icon{
  margin: 0 2px;
}

/* .cover div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
/* .cover-right {
  transform: rotateY(90deg) translateZ(200px); 
  width: 4px; 
  height: 500px;
  background-color: rgb(231, 231, 231);
} */
.coverFrontPage {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  color: rgb(255, 255, 255);
  box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.4);
  background: linear-gradient(45deg, #e9e8e8 0%, #f3f2f2 100%);
}
.coverFrontPage:after{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 15px;
  width: 4px;
  background: rgba(114, 114, 114, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  
}
.coverFrontPage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.coverHeader{
  display: flex;
  justify-content: space-between;
}
.front .subtitle{
  position: absolute;
  font-size: 10px;
  width: 50%;
  left: 25px;
  top: 100px
}
.front .subtitle span{
  display: block;
  font-size: 9px;
  margin-top: 3px;
}
.frontVolume {
  position: absolute;
  font-size: 10px;
  right: 40px;
  top: 30px;
}

.volume {
  position: absolute;
  font-size: 10px;
  right: 40px;
  top: 30px;
}
.subtitle{
  position: absolute;
  font-size: 10px;
  width: 50%;
  left: 25px;
  top: 100px
}
.subtitle span{
  display: block;
  font-size: 9px;
  margin-top: 3px;
}
.coverMid{
  font-size: 60px;
  position: absolute;
  bottom: 30px;
  color:#d3d3d3
}
.coverBottom{
  font-size: 10px;
  margin-bottom: 10px;
}
.coverBackPage {
  position: absolute;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  color: rgb(61, 61, 61);
  box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to left, rgb(233, 226, 226)rgb(213, 212, 212)f0, #f7f7f7);
}

.coverBackPage:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 500px;
  background-image: url('./assets/milad_extra.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  box-shadow: rgba(0, 0, 0, 0.25) 2.95px .95px 3.5px;
}

.cover label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 3;
}

.backCover {
  position: relative;
  z-index: -1;
  box-shadow: 0px 20px 15px -20px rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to left, #d1cccc, #f0f0f0, #cbcbcb);
}
.backCover:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 500px;
  background-image: url('./assets/milad_extra.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

/* #page1 {
  z-index: 3
}
#page2 {
  z-index: 2
}
#page3 {
  z-index: 1
} */

#page1 {
  z-index: 4
}
#page2 {
  z-index: 3
}
#page3 {
  z-index: 2
}
#page4 {
  z-index: 1
}


.page {
  position: absolute;
  background-color: black;
  background: linear-gradient(90deg, #e6e2e2 0%, #ffffff 50%, #ebe7e7 100%);
  width: 390px;
  height: 480px;
  margin-top: 10px;
  color: rgb(29, 28, 28);
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  ---transform-origin: left;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
-o-transform: rotateX(0deg);
  transition-duration: 1s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.6px 2.4px 3.2px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page div{
  width: 85%;
}
.frontPage {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  color: rgb(28, 28, 28);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backPage {
  position: absolute;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  backface-visibility: hidden;
  color: rgb(28, 28, 28);
}

.next, .prev {
  position: absolute;
  cursor: pointer;
  top: 0px;
  bottom: 0px;
  width: 390px;
  height: 100%;
  left: -25px;
  right: 0px;
}
.backPage div {
  margin-left: 15px;
}
.frontPage span, .backPage span{
  z-index: -1;
}
#painting{
  width: 100%;
  filter: grayscale(100%);
}
#page1 .pageContent p{
  font-size: 12px;
}
.pageHeader{
  height: 12%;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: solid 1px rgb(82, 82, 82);
  width: 80%;
}
.pageHeader p {
  font-size: 10px;
}
.pageContent {
  position: absolute;
  top: 12%;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
.pageContent h1{
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.backPage .pageContent h1{
  text-align: left;
}

.backPage .pageContent h3{
  font-size: 12px;
}
.pageContentSub div{
  width: 100%;
  /* text-align: justify; */
}
.pageContentSub{
  position: absolute;
  top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.pageContentSub img {
  width: 100%;
  object-fit: cover;
  height: 90px;
  filter: grayscale(100%);
}
#page3 .pageContent{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socials {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#page4 .pageContent{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socials a {
  height: 20px;
  width: 75px;
  padding: 4px 10px 0px 10px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 0.5em;
  background: black;
  color: #f4efef;
  transition: all .3s;
  border: 1px solid black;
}
.socials a:hover {
  cursor: pointer;  
  border: 1px solid black;
  background: #f4efef;
  color: black;
}

#bari img{
  filter:grayscale(100%);
  width: 100px;
  height: 80px;
}
#bari {
  background-color: rgb(23, 23, 23);
  color: rgb(235, 229, 229);
  padding-left: 4px;
  padding-right: 4px;
}
#lavang img {
  width: 100px;
  height: 50px;
  filter:grayscale(100%);
}
#lavang{
  margin-top: 0px;
  background-color: rgb(23, 23, 23);
  color: rgb(235, 229, 229);
  padding-left: 4px;
  padding-right: 4px;
}
.centerExperience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: solid black 2px;
  margin-right: 14px;
}
.centerExperience p {
  margin-bottom: 3px;
  margin-top: 3px;
}

.bottomExperience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottomExperience img {
  margin-top: 10px;
  width: 120px;
  object-fit: contain;
}
.black-bg {
  background-color: black;
  color: white;
}
.black-bg img{
  margin-top: 10px;
  width: 60px;
  object-fit: contain;
  filter: grayscale(100%);
}
.black-bg .centerExperience{
  border: solid white 2px;
  text-align: center;
  width: 90%;
}

.topExperience p {
  margin-left: 5px;
}
.bottomExperience p {
  margin-right: 8px;
}
.topExperience, .bottomExperience{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0px;
  font-size: 12px;
}
.projectSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.boldText {
  font-weight: bold;
  text-align: center; 
  display: block; 
  text-decoration: underline;
  margin-bottom: 5px;
}
.projectSection div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px;
  margin-bottom: 20px;
  width: 120%
}
.projectSection div p{
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.projectSection div span {
  font-weight: bold;
}
.projectSection a{
    height: 20px;
    text-decoration: underline;
    font-size: 14px;
    color: #000000;
    transition: all .3s;
    z-index: 1000;
    border: 1px solid white;
    padding: 0 2px 0 2px;
    border-radius: 5px;
    transition: all .3 ease;
}
.projectSection a:hover {
  cursor: pointer;  
  border: 1px solid black;
  background: #f4efef;
  border-radius: 5px;
  color: black;
}
.skillDiv{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.skillDiv div{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  width: 50%;
}
.skillDiv div h3{
  text-decoration: underline;
}
.skillDiv div p{
  text-align: center;
  padding: 0px;
  margin: 2px;
}
#skillImgContainer {
  height: 40px;
  margin-top: 20px;
  margin-right: 50px;
}




.pageContent p {
  font-size: 13px;
  text-align: justify;
  font-family:Arial, Helvetica, sans-serif;
}
.pageFooter{
  height: 10%;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.pageFooter div {
  content: " ";
  height: 1px;
  width: 80%;
  background: linear-gradient(90deg, #1d1d1d 0%, #7e7e7e 50%, #212121 100%);;
  margin-right: 4px;
}
.pageFooter p{
  font-size: 10px;
  margin-bottom: 15px;
}
.thankyou{
  margin-top: 100px;
  background-color: #080808;
  border-radius: 5px;
  color: rgb(230, 223, 223);
  font-size: 12px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer{
  margin-top: 10px;
  background-color: #080808;
  border-radius: 10px;
  /* backdrop-filter: blur(20px); */
  padding: 2rem;
  position: relative;
  transition: all .4s;
  /* -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
.formContainer p {
  color: rgb(242, 234, 234);
}
.formContainer input{
  width: 70%;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  color: rgb(230, 223, 223);
}
.formContainer textarea{
  height: 50px;
  width: 70%;
  margin-top: 24px;
  background: none;
  border: none;
  border-bottom: 1px solid gray;
  color: rgb(230, 223, 223);
}
#inputLabel{
  position: absolute;
  top: 19%;
  left: 22%
}
#messageLabel{
  position: absolute;
  top: 55%;
  left: 22%
}
.formContainer button{
  margin-top: 30px;
  color: #121212;
  height: 20px;
  width: 75px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 0.5em;
  border: solid 1px black;
  background: #f4efef;
  transition: all .3s;
}
.formContainer button:hover{
  cursor: pointer;  
  border: solid 1px #f4efef;
  background: black;
  color: #f4efef;
}
.bookShadow{
  content: " ";
  position: absolute;
  width: 15%;
  height: 100%;
  background-image: linear-gradient(to right, #8f8f8f, #d7d5d5, #efebeb);
  left: -8.8%;
  opacity: .7;
}
.bookShadowBack{
  content: " ";
  position: absolute;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(to left, #d3d3d3, #eceaea, #f1eded);
  right: -8.9%;
}
#page1 .bookShadow{
  opacity: .4;
}
#page1 {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#checkboxCover:checked ~ .book {
  transform: translateX(200px);
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
}

#checkboxCover:checked ~ .book .cover {
  transition: transform 1s, z-index 0.5s 0.5s;
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  z-index: 1;
}
#checkbox-page1:checked ~ .book #page1 {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  z-index: 2;
}
#checkbox-page2:checked ~ .book #page2 {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  z-index: 3;
}
#checkbox-page3:checked ~ .book #page3 {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  z-index: 4;
}

/* BOOKSHELF*/
.bookShelfStack{
  display: flex;
  flex-direction: column;
  position: fixed;
}
.topShelf{
  width: 100vw;
  height: 33vh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}
.bottomSlat{
  height: 10%;
  background-image: linear-gradient(to right, #2e2e2e, #303030, #292828);
  border: black solid 2px
}
.topBooks{
  height: 90%;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.books{
  background-image: linear-gradient(to right, #565656, #303030);
  border: black solid 2px;
  transition: all .3s ease;
}
.book1{
  height: 80%;
  width: 20px;
}
.book2{
  height: 60%;
  width: 20px;
}
.book3{
  height: 70%;
  width: 25px;
}
.book4{
  height: 65%;
  width: 15px;
}
.book5{
  height: 75%;
  width: 20px;
}
.book6{
  height: 50%;
  width: 30px;
}
.bookStack{
  display: flex;
  flex-direction: column;
  height: 30%;
}
.bookIn {
  background-image: linear-gradient(to right, #383838, #1e1e1e);
}
.bookStack div{
  height: 33%;
  width: 80px;
  background-image: linear-gradient(to right, #565656, #212020);
  border: black solid 2px;
}
.bookStack2{
  display: flex;
  flex-direction: column;
  height: 40%;
}
.bookStack2 div{
  height: 33%;
  width: 90px;
  background-image: linear-gradient(to right, #565656, #212020);
  border: black solid 2px;
}
.book1:hover {
  transform: translateY(-10%);
  background-image: linear-gradient(to right, #6d6d6d, #444343);
}
.book2:hover {
  transform: translateY(-10%);
  background-image: linear-gradient(to right, #6d6d6d, #444343);
}
.book3:hover {
  transform: translateY(-10%);
  background-image: linear-gradient(to right, #6d6d6d, #444343);
}
.book4:hover {
  transform: translateY(-10%);
  background-image: linear-gradient(to right, #6d6d6d, #444343);
}
.book5:hover {
  transform: translateY(-10%);
  background-image: linear-gradient(to right, #6d6d6d, #444343);
}
.book6:hover {
  transform: translateY(-10%);
  background-image: linear-gradient(to right, #6d6d6d, #444343);
}
.bookStack div:nth-child(1):hover{
  transform: translateY(-20%);
  background-image: linear-gradient(to right, #6d6d6d, #444343);
}
.bookStack2 div:nth-child(1):hover{
  transform: translateY(-20%);
  background-image: linear-gradient(to right, #6d6d6d, #444343);
}